
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Tüm Kategoriler
  </a>
  <a routerLink="movies/category/1" href="#" class="list-group-item list-group-item-action">Macera</a>
  <a routerLink="movies/category/2" href="#" class="list-group-item list-group-item-action">Romantik</a>
  <a routerLink="movies/category/3" href="#" class="list-group-item list-group-item-action">Bilim Kurgu</a>
  <a routerLink="movies/category/4" href="#" class="list-group-item list-group-item-action">Komedi</a>
  <a routerLink="movies/category/5" href="#" class="list-group-item list-group-item-action">Savaş</a>
</div>
