
<div class="list-group">
  <a 
    class="list-group-item list-group-item-action" 
    [class.active]="selectedCategory === null" 
    (click)="changeSelectedCategory($event)" 
    [routerLink]="['movies']"

  >
    Tüm Kategoriler
  </a>
  <a 
    class="list-group-item list-group-item-action"
    [class.active]="category.id == selectedCategory?.id" 
    *ngFor="let category of categories"
    (click)="changeSelectedCategory($event, category)" 
    routerLink="movies/category/{{category.id}}"
  >
    {{category.name}}
  </a>
  
</div>
