
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<div *ngIf="movies.length > 0 else emptyTemplate ">
  <h1>{{title}}</h1>

  <div class="mb-3">
    <input 
      type="text" 
      class="form-control"
      placeholder="Search"
      [(ngModel)]="filterText"
    >
  </div>

  <ng-template [ngTemplateOutlet]="movieList" [ngTemplateOutletContext]="{filterText: filterText}"></ng-template>

</div>


<ng-template #movieList>


  <div class="card mb-3" style="max-width: 540px;" *ngFor="let movie of filteredMovies | movieFilter: filterText" >
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../../../assets/img/{{movie.imageUrl}}" class="img-fluid rounded-start" alt="{{movie.title}}">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{movie.title | titlecase}}</h5>
          <p class="card-text">{{movie.description | summary : 50}}</p>
          <div>
            <a class="btn btn-sm btn-outline-primary" routerLink="/movies/{{movie.id}}" >Details</a>
            <button class="btn btn-sm btn-primary ms-1" (click)="addToList($event)" >Listeye Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>


<ng-template #emptyTemplate>

  <div class="alert alert-danger" >
    Film bulunamadı.
  </div>
</ng-template>

